.footer {
    padding-top: 50px;
    background-repeat: no-repeat;
    background-size: 100% 500px;
    height: 480px;
}

.footerWrapper {
    margin: 20px;
}

.logo img {
    width: 227px;
}

.title {
    font-size: 2em;
    color: #845B1B;
    font-weight: 800;
    margin-bottom: 25px;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.certs {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.certs div {
    margin-bottom: 30px;
}

.nav {
    display: flex;
    flex-direction: column;
}

.nav a {
    margin-bottom: 13px;
    font-weight: 400;
    font-size: 1.25em;
    color: #845B1B;
}

.newsletterForm {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}


@media only screen and (max-width: 600px) {
    .footer {
        /* background-size: 0px; */
        background-color: #F0FFE2;
        height: 620px;
        border-radius: 20px;
        padding-top: 0px;
        padding-left: 15px;
        padding-right: 15px;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
    }

    .title {
        font-size: 14px;
        margin-bottom: 10px;
        width: 100%;
        text-align: left;
    }

    .logo img {
        width: 129px;
        height: 90px;
    }

    .certs {
        display: flex;
        width: 100%;
        flex-direction: row;
    }
    .certs div{
        margin-bottom: 10px;
    }

    .certs .bulb {
        height: 60px;
        width: 38.3px;
        margin-left: 60px;
    }

    .column{
        align-items: baseline;
        margin-top: 10px;
    }

    .nav a {
        font-size: 14px;
    }
}

@media only screen and (min-width: 600px) and (max-width: 1024px){
    .footer {
        /* background-size: 0px; */
        background-color: #F0FFE2;
        height: 620px;
        border-radius: 20px;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 20px;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
    }

    .logo img {
       margin-left: 45px;
    }
}
